{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="title">Bienvenido Portal Buffalo</h1>
    
    <p>
       -- <em>--</em> 
    </p>
    
    <p>
        Si hay session
    
    </p>
    
    
       
    
    <h2 class="title">Acceso Restringido Temporal.</h2> 
    <h3 class="title">Por ahora no podrá realizar algunas funciones 
        en el sistema, debe esperar el correo de confirmacion de Registro para 
       que se muestren las opciones que puede usar como cliente de techtrol, muchas gracias.</h3>
    
{% endblock %}


